.bbb-btn {
  display: block;
  background-color: black;
  color: white;
  border-radius: 0.5rem;
  padding: 0 2rem;
  align-items: center;
  border: none;
  width: 200px;
  min-width: 200px;
  line-height: 52px;
  font-size: 1.2rem;
  cursor: pointer;

  &:hover,
  &:focus {
    outline: none;
  }

  &:hover {
    opacity: 80%;
  }
}
