:root {
  box-sizing: border-box;
  font-size: 16px;
}

body {
  margin: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

@import './spacing';
@import './btn';
@import './select';
@import './checkbox';
@import './radio';
@import './text-field';
.container {
  padding: 2em;
}
